.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    overflow: hidden;

    .bg {
        background-image: url(../assets/backgrounds/contact.png);
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .title {
        font-family: 'MetalBlockTheta';
        font-size: 200px;
        text-transform: lowercase;
        color: #FF0000;
        -webkit-text-stroke: 1px #2614FF;
        text-shadow:
            1px 0 0 rgba(0, 0, 0, 0.2),
            -1px 0 0 rgba(0, 0, 0, 0.2),
            0 1px 0 rgba(0, 0, 0, 0.2),
            0 -1px 0 rgba(0, 0, 0, 0.2);
        paint-order: stroke fill;
    }

    .containerflex{
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .content {
        color: #FFFFFF;
        font-family: 'Integral';
        font-size: 33px;
        -webkit-text-stroke: 1px #001AFF;
    }

    .contactbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        font-family: 'MetalBlockTheta';
        font-size: 130px;
        text-transform: capitalize;
        color: #FF0000;
        -webkit-text-stroke: 1px #501AA8;
        paint-order: stroke fill;
    }

    .people {
        display: flex;
        gap: 13rem;

        .box .name {
            color: #FFFFFF;
            font-family: 'Integral';
            font-size: 33px;
            -webkit-text-stroke: 1px #3506F2;
        }

        .box .phone {
            color: #FF0000;
            font-family: 'Integral';
            font-size: 33px;
        }
        .box .phone:nth-child(2){
            text-align: end;
        }
    }
}

@media(max-width: 1600px) {
    .wrapper .containerflex{
        gap: 0;
    }
}

@media(max-width: 1315px) {
    .wrapper .title{
        font-size: 180px;
    }
    .wrapper .content{
        font-size: 28px;
    }

    .wrapper .people .box .name{
        font-size: 26px;
    }

    .wrapper .people .box .phone{
        font-size: 26px;
    }

}

@media(max-width: 1150px) {
    .wrapper .content{
        font-size: 26px;
    }
}

@media(max-width: 955px) {
    .wrapper .content{
        font-size: 23px;
    }
    .wrapper .people{
        gap: 10rem;
    }

    .wrapper .people .box .name{
        font-size: 24px;
    }

    .wrapper .people .box .phone{
        font-size: 24px;
    }

}

@media(max-width: 735px) {
    .wrapper .title{
        font-size: 110px;
    }
    .wrapper .content{
        font-size: 20px;
    }
    .wrapper .contact{
        font-size: 90px;
    }

    .wrapper .people{
        gap: 6rem;
    }

    .wrapper .people .box .name{
        font-size: 18px;
    }

    .wrapper .people .box .phone{
        font-size: 18px;
    }

}
@media(max-width: 450px) {
    .wrapper .title{
        font-size: 85px;
    }
    .wrapper .content{
        font-size: 18px;
    }
    .wrapper .contact{
        font-size: 65px;
    }

    .wrapper .people{
        gap: 4rem;
    }

    .wrapper .people .box .name{
        font-size: 15px;
    }

    .wrapper .people .box .phone{
        font-size: 15px;
    }

}