html{
    scroll-snap-type: y mandatory;
    overflow-y: visible;
    height: 100vh;
    scroll-behavior: smooth;
}

section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media(max-width: 800px){
    section{
        padding: 0 2rem !important;
    }
}

.homewrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .bg {
        background-image: url(../assets/backgrounds/home.png);
        background-size: cover;
        position: absolute;
        width: 102vw;
        height: 102vh;
        top: -1vh;
        left: -1vw;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .header {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        row-gap: 3rem;

        .title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .main {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: 'MetalBlockTheta';
                font-size: 300px;
                text-transform: uppercase;
                color: rgba(255, 15, 15, 1);
            }
            .main:first-child{
                transform: translate(-48%,-50%);
                color: rgba(34, 30, 210, 1);
            }
            .main:nth-child(2){
                transform: translate(-52%,-50%);
                color: rgba(55, 50, 252, 1);
            }
        }
        .navbar {
            display: flex;
            justify-content: space-evenly;
            gap: 20rem;
            .nav {
                // background-color: yellow;
                cursor: pointer;
                transform: translateY(0%);
                text-decoration: none;
                font-family: 'MetalBlockTheta';
                font-size: 96px;
                text-transform: lowercase;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(57, 40, 252, 1); 
                paint-order: stroke fill;
            }
        }
    }
}