.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    overflow: hidden;

    .bg1 {
        background-image: url(../assets/backgrounds/timeline1.png);
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .bg2 {
        background-image: url(../assets/backgrounds/timeline2.png);
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .title {
        font-family: 'MetalBlockTheta';
        font-size: 200px;
        text-transform: lowercase;
        color: white;
        -webkit-text-stroke: 1px #FF0101;
        paint-order: stroke fill;
        display: flex;
        filter: drop-shadow(rgba(255, 1, 1, 1) 0 0 4px);

        .main:nth-child(1) {
            color: #011AFF;
            text-transform: uppercase;
        }

        .main:nth-child(2) {
            color: #0148FF;
        }

        .main:nth-child(3) {
            color: #6203FF;
        }

        .main:nth-child(4) {
            color: #0601FF;
        }

        .main:nth-child(5) {
            color: #6203FF;
        }

        .main:nth-child(6) {
            color: #1A3FFF;
        }

        .main:nth-child(7) {
            color: #0148FF;
        }

        .main:nth-child(8) {
            color: #0601FF;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .container {
            display: flex;
            flex-direction: column;

            .header {
                font-family: 'MetalBlockTheta';
                font-size: 96.52px;
                text-transform: lowercase;
                color: rgba(255, 7, 7, 1);
                -webkit-text-stroke: 1px rgba(75, 17, 238, 1);
                paint-order: stroke fill;
                position: relative;

                .oasis {
                    position: relative;
                    left: 2%;

                    .main {
                        position: absolute;
                        text-transform: uppercase;
                        color: rgba(255, 0, 0, 1);
                        -webkit-text-stroke-width: 0;
                        -webkit-text-stroke-color: transparent;
                    }

                    .main:nth-child(1) {
                        font-size: 101px;
                        color: rgba(33, 42, 255, 1);
                        -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
                        filter: blur(2px);
                        transform: translateY(-10px);
                    }
                }

                span {
                    color: rgba(255, 255, 255, 1);
                    -webkit-text-stroke: 1px rgba(57, 40, 252, 1);
                }

                .final {
                    text-transform: uppercase;
                }
            }

            .text {
                font-family: 'Integral';
                font-size: 28px;
                -webkit-text-stroke: 1px #A30DFF;
                color: white;

                span {
                    color: #FF2727;
                }
            }
        }

        .pics {
            display: flex;
            // justify-content: space-between;
            width: 100%;
            gap: 10%;

            .image {
                height: 450px;
                width: 400px;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                }
            }
        }

        .carousel {
            height: 450px;
            width: 600px;
            display: none;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

    }

    .content:nth-of-type(2) {
        margin-top: 3rem;
    }

}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;

    .carouselimage {
        height: 400px;
        width: 600px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

@media(max-width: 1600px) {
    .wrapper .content .pics .image{
        height: 400px;
    }
}

@media(max-width: 1450px) {
    
    .wrapper .content .container .text {
        font-size: 26px;
    }
}

@media(max-width: 1400px) {
    .finalwrapper .content .pics {
        display: none;
    }

    .finalwrapper .content .carousel {
        display: inline;
    }
}

@media(max-width: 1075px) {
    .wrapper .title {
        font-size: 150px;
    }

    .wrapper .content .container .header {
        font-size: 80px;
    }

    .wrapper .content .container .header .oasis .main:nth-child(1) {
        font-size: 84.5px;
    }

    .finalwrapper .content .carousel{
        height: 350px;
    }

    .carouselItem .carouselimage{
        height: 350px;
    }
    
}

@media(max-width: 865px) {
    .wrapper .title {
        font-size: 150px;
    }

    .wrapper .content .container .header {
        font-size: 65px;
    }

    .wrapper .content .container .header .oasis .main:nth-child(1) {
        font-size: 69.5px;
    }

    .wrapper .content .container .text {
        font-size: 24px;
    }
}

@media(max-width: 650px) {
    .wrapper .title {
        font-size: 90px;
    }

    .wrapper .content .container .header {
        font-size: 45px;
    }

    .wrapper .content .container .header .oasis .main:nth-child(1) {
        font-size: 49.5px;
    }

    .wrapper .content .container .text {
        font-size: 22px;
    }

    .finalwrapper .content .carousel{
        width: 400px;
    }

    .carouselItem .carouselimage{
        width: 400px;
    }
}

@media(max-width: 450px) {
    .wrapper .content {
        gap: 1rem;
    }

    .wrapper .content .container .header {
        font-size: 38px;
    }

    .wrapper .content .container .header .oasis .main:nth-child(1) {
        font-size: 42.5px;
    }

    .wrapper .content .container .text {
        font-size: 16px;
    }

    .finalwrapper .content .carousel{
        width: 300px;
        height: 375px;
    }

    .carouselItem .carouselimage{
        width: 300px;
        height: 375px;
    }
}

@media(max-width: 400px) {
    .finalwrapper .content .container .header {
        font-size: 31px;
    }

    .finalwrapper .content .container .header .oasis .main:nth-child(1) {
        font-size: 35.5px;
    }
    .finalwrapper .content .carousel{
        width: 275px;
        height: 325px;
    }

    .carouselItem .carouselimage{
        width: 275px;
        height: 325px;
    }
}