@font-face {
    font-family: "MetalBlockTheta";
    src: url(./fonts/MetalBlockTheta.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Integral";
    src: url(./fonts/IntegralCF-Bold.ttf) format("truetype");
    font-weight: 700;
}

